recursive-include octoprint_wifisetup/static *
recursive-include octoprint_wifisetup/templates *
recursive-include octoprint_wifisetup/translations *
include LICENSE
include requirements.txt
include README.md
