<div id="tab_plugin_wifisetup_dialog" data-bind="allowBindings: true">
    <p>
        <strong>{{ _('Bağlantı Durumu') }}:</strong> <span data-bind="text: connectionStateText"></span>
    </p>

    <div class="pull-right" data-bind="visible: enableQualitySorting">
        <small>
            {{ _('Sort by') }}: <a href="#" data-bind="click: function() { listHelper.changeSorting('ssid'); }">{{ _('SSID') }} ({{ _('ascending') }})</a> | <a href="#" data-bind="click: function() { listHelper.changeSorting('quality'); }">{{ _('Quality') }} ({{ _('descending') }})</a>
        </small>
    </div>
    <table class="table table-striped table-hover table-condensed table-hover" id="tab_plugin_wifisetup_wifis">
        <thead>
        <tr>
            <th class="tab_plugin_wifisetup_wifis_ssid">{{ _('SSID') }}</th>
            <th class="tab_plugin_wifisetup_wifis_quality" data-bind="visible: enableQualitySorting">{{ _('Quality') }}</th>
            <th class="tab_plugin_wifisetup_wifis_action">{{ _('Action') }}</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: listHelper.paginatedItems">
            <tr data-bind="attr: {title: name}">
                <td class="tab_plugin_wifisetup_wifis_ssid"><span class="icon-lock" data-bind="invisible: !encrypted"></span> <span data-bind="text: ssid"></span> <small class="muted">({{ _('Address') }}: <span data-bind="text: address"></span>)</small></td>
                <td class="tab_plugin_wifisetup_wifis_quality" data-bind="visible: $root.enableQualitySorting, text: qualityText"></td>
                <td class="tab_plugin_wifisetup_wifis_action">
                    <button class="btn btn-small" data-bind="click: function() { if ($root.getEntryId($data) != $root.statusCurrentWifi()) { $parent.configureWifi($data); } }, css: {disabled: !$root.loginState.isUser() || $root.working() || $root.error() || $root.getEntryId($data) == $root.statusCurrentWifi()}"><i class="icon-spinner icon-spin" data-bind="visible: $root.working"></i><i class="icon-signin" data-bind="visible: !$root.working()"></i> {{ _('Connect') }}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-mini pagination-centered">
        <ul>
            <li data-bind="css: {disabled: listHelper.currentPage() === 0}">
                <a href="#" data-bind="click: listHelper.prevPage">«</a>
            </li>
        </ul>
        <ul data-bind="foreach: listHelper.pages">
            <li data-bind="css: { active: $data.number === $root.listHelper.currentPage(), disabled: $data.number === -1 }">
                <a href="#" data-bind="text: $data.text, click: function() { $root.listHelper.changePage($data.number); }"></a>
            </li>
        </ul>
        <ul>
            <li data-bind="css: {disabled: listHelper.currentPage() === listHelper.lastPage()}">
                <a href="#" data-bind="click: listHelper.nextPage">»</a>
            </li>
        </ul>
    </div>

	<div>
		<button class="btn btn-primary span2 first-child" data-bind="click: function() { $root.refresh() }, enable: $root.daemonOnline()"><i class="icon-spinner icon-spin" data-bind="visible: $root.working"></i> {{ _('Yenile') }} </button>
		<button class="btn btn-primary span2" data-bind="click: function() { $root.sendForgetWifi() }, enable: $root.daemonOnline()"><i class="icon-spinner icon-spin" data-bind="visible: $root.working"></i> {{ _('Wifi Şifresini Sil!') }} </button>
{#        <button class="btn btn-primary span2 last-child" data-bind="click: function() { $root.blindConfigureWifi(); }, enable: $root.daemonOnline()"> {{ _('Wifi Ekle') }} </button> #}
	</div>

    <div>
    <br><br>
        <div>
            <small><a href="#tab_plugin_wifisetup" class="muted" onclick="$(this).children().toggleClass('icon-caret-right icon-caret-down').parent().parent().parent().next().slideToggle('fast')"><i class="icon-caret-right"></i> {{ _('Advanced options') }}</a></small>
        </div>
        <div class="hide row-fluid">
            <button class="btn btn-primary span3 first-child" data-bind="click: function() { if ($root.radioStatus()) { $root.radioOff(); } else { $root.radioOn(); } }"><i class="icon-spinner icon-spin" data-bind="visible: $root.working"></i><span data-bind="visible: !$root.radioStatus()">{{ _('Wifi Aç') }}</span><span data-bind="visible: $root.radioStatus()">{{ _('Wifi Kapat') }}</span></button>
{#            <button class="btn btn-primary span3 last-child" data-bind="click: function() { if ($root.apStatus()) { $root.apOff(); } }, css: {disabled: !$root.loginState.isUser() || $root.working() || $root.error() || !$root.apStatus()}"><i class="icon-spinner icon-spin" data-bind="visible: $root.working"></i> {{ _('Ap Kapat') }}</button> #}
        </div>
    </div>

    <div id="tab_plugin_wifisetup_wificonfig" class="modal hide fade">
        <div class="modal-header">
            <a href="#tab_plugin_wifisetup" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>{{ _('"%(ssid)s" için şifre', ssid='<span data-bind="text: $root.editorWifiSsid"></span>') }}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="tab_plugin_wifisetup_wificonfig_passphrase1">{{ _('Password') }}</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="tab_plugin_wifisetup_wificonfig_passphrase1" data-bind="value: $root.editorWifiPassphrase1" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" data-bind="enable: !$root.working() && !$root.error()" aria-hidden="true">{{ _('Abort') }}</button>
            <button class="btn btn-primary" data-bind="click: function() { $root.confirmWifiConfiguration(); }, enable: !$root.working() && !$root.error()"><i class="icon-spinner icon-spin" data-bind="visible: working"></i> {{ _('Confirm') }}</button>
        </div>
    </div>
    
{#    <div id="tab_plugin_wifisetup_blindconfig" class="modal hide fade">
        <div class="modal-header">
            <a href="#tab_plugin_wifisetup" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>{{ _('Erişim Noktası Ayarları') }}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="tab_plugin_wifisetup_blindconfig_ssid1">{{ _('SSID') }}</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="tab_plugin_wifisetup_blindconfig_ssid1" data-bind="value: $root.editorWifiSsid1" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="tab_plugin_wifisetup_wificonfig_passphrase1">{{ _('Password') }}</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="tab_plugin_wifisetup_blindconfig_passphrase1" data-bind="value: $root.editorWifiPassphrase1" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" data-bind="enable: !$root.working() && !$root.error()" aria-hidden="true">{{ _('Abort') }}</button>
            <button class="btn btn-primary" data-bind="click: function() { $root.blindConfirmWifiConfiguration(); }, enable: !$root.working() && !$root.error()"><i class="icon-spinner icon-spin" data-bind="visible: working"></i> {{ _('Confirm') }}</button>
        </div>
    </div> #}
</div>


